.container {
    text-align: center;
    padding-top: 30px;
    .container_title {
        font-size: large;
        text-align: left;
    }
    .container_desc {
        color: #FF5053;
    }
    .container_button {}
}